[submodule "bin"]
	path = bin
	url = git@github.com:communityus/bin.git
[submodule "docker"]
	path = docker
	url = git@github.com:communityus/docker.git
[submodule "docs"]
	path = docs
	url = git@github.com:communityus/docs.git
[submodule "etc"]
	path = etc
	url = git@github.com:communityus/etc.git
[submodule "info"]
	path = info
	url = git@github.com:communityus/info.git
[submodule "lib"]
	path = lib
	url = git@github.com:communityus/lib.git
[submodule "t"]
	path = t
	url = git@github.com:communityus/t.git
[submodule "var"]
	path = var
	url = git@github.com:communityus/var.git
[submodule "server"]
	path = server
	url = git@github.com:communityus/server.git
[submodule "css"]
	path = css
	url = git@github.com:communityus/css.git
[submodule "js"]
	path = js
	url = git@github.com:communityus/js.git
[submodule "misc"]
	path = misc
	url = git@github.com:communityus/misc.git
[submodule "scripts"]
	path = scripts
	url = git@github.com:communityus/scripts.git
[submodule "gulp-tasks"]
	path = gulp-tasks
	url = git@github.com:communityus/gulp-tasks.git
[submodule "app"]
	path = app
	url = git@github.com:communityus/app.git
[submodule ".vscode"]
	path = .vscode
	url = git@github.com:communityus/.vscode.git
[submodule "config"]
	path = config
	url = git@github.com:communityus/config.git
